.track {
    font-size: 36px;
    line-height: 60px;

    &__text:before {
        margin-right: 15px;

        content: url(play.png);
        cursor: pointer;
        vertical-align: text-top;
    }

    &._played > &__text:before {
        content: url(stop.png);
    }
}
