/* /Users/morozov/Documents/scripts/theuchpochmack/blocks/client/page/page.styl:begin */
@font-face {
  font-family: Outwrite;
  font-style: normal;
  font-weight: 300;
  src: local('Outwrite'), local('outwrite'), url("fonts/outwrite.ttf") format('ttf');
}
@font-face {
  font-family: Outwrite;
  font-style: normal;
  font-weight: 300;
  src: local('Outwrite'), local('outwrite'), url("fonts/outwrite.svg") format('svg');
}
@font-face {
  font-family: Outwrite;
  font-style: normal;
  font-weight: 300;
  src: local('Outwrite'), local('outwrite'), url("fonts/outwrite.woff") format('woff');
}
@font-face {
  font-family: Outwrite;
  font-style: normal;
  font-weight: 300;
  src: local('Outwrite'), local('outwrite'), url("fonts/outwrite.eot") format('eot');
}
.page {
  font-family: Outwrite;
  margin: 0;
  padding: 0;
  min-width: 1200px;
  min-height: 600px;
  color: #1c1c1c;
  background-color: #646464;
}
/* /Users/morozov/Documents/scripts/theuchpochmack/blocks/client/page/page.styl:end */
/* /Users/morozov/Documents/scripts/theuchpochmack/blocks/client/player/player.styl:begin */
.player__list {
  position: absolute;
  top: 550px;
  right: 650px;
}
.player__play-button {
  position: absolute;
  z-index: 1;
  top: -webkit-calc(50% - 15px);
  top: calc(50% - 15px);
  right: 225px;
  width: 100px;
  height: 100px;
  opacity: 0.6;
  background: url("play.png");
}
.player__play-button:hover {
  opacity: 0.8;
}
.player__play-button._reverted {
  background: url("pause.png");
}
/* /Users/morozov/Documents/scripts/theuchpochmack/blocks/client/player/player.styl:end */
/* /Users/morozov/Documents/scripts/theuchpochmack/blocks/client/turntable/turntable.styl:begin */
.turntable {
  position: absolute;
  top: -100px;
  right: 500px;
  width: 600px;
  height: 600px;
  background: url("turntable.png");
}
/* /Users/morozov/Documents/scripts/theuchpochmack/blocks/client/turntable/turntable.styl:end */
/* /Users/morozov/Documents/scripts/theuchpochmack/blocks/client/track/track.styl:begin */
.track {
  font-size: 36px;
  line-height: 60px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* /Users/morozov/Documents/scripts/theuchpochmack/blocks/client/track/track.styl:end */
/* /Users/morozov/Documents/scripts/theuchpochmack/blocks/client/poster/poster.styl:begin */
.poster {
  position: absolute;
  top: 50%;
  right: 500px;
}
.poster__image {
  position: absolute;
  top: -350px;
  width: 470px;
  height: 700px;
  background: url("poster.jpg");
}
/* /Users/morozov/Documents/scripts/theuchpochmack/blocks/client/poster/poster.styl:end */
