.poster {
    position: absolute;
    top: 50%;
    right: 500px;

    &__image {
        position: absolute;
        top: -350px;

        width: 470px;
        height: 700px;

        background: url(poster.jpg);
    }
}
