@font-face {
    font-family: Outwrite;
    font-style: normal;
    font-weight: 300;
    src: local('Outwrite'), local('outwrite'), url(fonts/outwrite.ttf) format('ttf');
}

@font-face {
    font-family: Outwrite;
    font-style: normal;
    font-weight: 300;
    src: local('Outwrite'), local('outwrite'), url(fonts/outwrite.svg) format('svg');
}

@font-face {
    font-family: Outwrite;
    font-style: normal;
    font-weight: 300;
    src: local('Outwrite'), local('outwrite'), url(fonts/outwrite.woff) format('woff');
}

@font-face {
    font-family: Outwrite;
    font-style: normal;
    font-weight: 300;
    src: local('Outwrite'), local('outwrite'), url(fonts/outwrite.eot) format('eot');
}

.page {
    font-family: Outwrite;

    margin: 0;
    padding: 0;

    min-width: 1200px;
    min-height: 600px;

    color: #1c1c1c;
    background-color: #646464;
}
